.profile-container {
    display: flex;
    position: relative;
    min-height: 100vh;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
  }
  
  .left-container,
  .right-container {
    flex: 1;
    margin-right: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    transition: transform 0.2s, box-shadow 0.3s;
  }
  
  .right-container {
    margin-right: 0;
  }
  
  .left-container:hover,
  .right-container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .aws-login {
    position: fixed;
    bottom: 70px;
    left: 20px;
    background: orange;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Fredoka';
    font-weight: 950;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.3s;
  }
  
  .aws-login:hover {
    background: darkorange;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .logout-button {
    font-size: 0.875rem;
    padding: 0.4rem 0.8rem;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #be302e;
    color: rgba(255, 255, 255, 0.917);
    border: none;
    border-radius: 10px;
    font-family: 'Fredoka';
    font-weight: 950;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.3s;
  }
  
  .logout-button:hover {
    background: #810404;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s;
  }
  
  .profile-picture img:hover {
    transform: scale(1.05);
  }
  
  .profile-info p {
    margin: 5px 0;
    color: #444;
  }
  
  .profile-info .info-container {
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid #000;
    border-radius: 15px;
    background-color: #fff;
    font-family: 'Fredoka';
    font-size: 1.2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .settings-section h3 {
    margin-top: 15px;
    font-weight: bold;
  }
  
  .dark-mode .profile-container,
  .dark-mode .left-container,
  .dark-mode .right-container {
    background-color: #2c2c2c;
    border: 1px solid #444;
    color: lightgray;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
  
  .dark-mode .left-container:hover,
  .dark-mode .right-container:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .dark-mode .aws-login {
    background: orange;
  }
  
  .dark-mode .aws-login:hover {
    background: darkorange;
  }
  
  .dark-mode .logout-button {
    background: #971b1b;
    color: white;
  }
  
  .dark-mode .logout-button:hover {
    background: #810404;
  }
  
  .dark-mode .profile-info p {
    color: lightgray;
  }
  
  .dark-mode .profile-info .info-container {
    background-color: #3a3a3a;
    border: 1px solid #555;
    color: lightgray;
  }
  
  .dark-mode .settings-section h3 {
    color: lightgray;
  }
  